{% extends 'base.html' %}
{% block body %}

<div id="cmeimg">
  <img src="../static/logo_self.png" alt="Avatar">
</div>

<div id="cme">
  <div class="contactme">
      <form action="{{url_for('contactme_page') }}" method=post>
        <!-- hidden tag to protect against CSRF exploits-->
        {{ form.hidden_tag() }}

        <!--name-->
        <p>{% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}</p>
        <p>{{ form.name.label }}</p>
        <p>{{ form.name }}</p>

        <!--email-->
        <p>{% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}</p>
        <p>{{ form.email.label }}</</p>
        <p>{{ form.email }}</p>

        <!--subject-->
        <p>{% for message in form.subject.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}</p>
        <p>{{ form.subject.label }}</p>
        <p>{{ form.subject }}</p>

        <!--message-->
        <p>{% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}</p>
        <p>{{ form.message.label }}</p>
        <p>{{ form.message }}</p>

        <p>{{ form.submit }}</p>
      </form>
  </div>
</div>

{% endblock %}
