{% extends 'base.html' %}
  {% block body %}

    <div class="bodycontainer">
      <section id="boxes">
        <a href="/projects">
          <div class="box">
            <img src="../static/logo_projects.png">
            <h3>PROJECTS</h3>
            <p>Demo projects</p>
          </div>
        </a>
        <a href="toBeDone">
          <div class="box">
            <img src="../static/logo_coding.png">
            <h3>CODING EXERCISES</h3>
            <p>Python Coding Problems</p>
          </div>
        </a>
        <a href="toBeDone">
          <div class="box">
            <img src="../static/logo_learnings.png">
            <h3>LEARNING'S</h3>
            <p>Concepts & Learnings </p>
          </div>
        </a>
      </section>
    </div>

  {% endblock %}
